body {
    background-color: #f9f9f9;
}

.mdl-layout__header-row {
    position: relative;
}
.mdl-layout__header-row .mdl-navigation {
    margin-right: 16px;
}

.download {
    position: absolute;
    bottom: 0;
    right: 16px;
    transform: translate(0, 50%);
}

.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 10px;
    width: 90%;
    background-color: #fff;
    border-radius: 2px;
    text-align: left;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
                box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
}
.card img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    transition: 1s linear;
}
img.large {
    cursor: zoom-in;
    min-width: 256px;
    max-width: 50%;
}
img.zoom {
    max-width: 100%;
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    transition: 1s linear;
    cursor: zoom-out;
}

.main {
    text-align: center;
}
.main a {
    margin-top: 8px;
}

.card h1 {
    font-size: 48px;
}
h1, h2, h3, h4, h5, h6 {
    color: #09f;
}
